.container {
    width: 1366px;
    margin: 0 auto;
}

ul{
    display:flex;
    list-style: none;
}
ul li{
    margin-right: 10px;
}
.secttion {
    background-color: blue;color: white
}
img{
    box-shadow: 7px 7px 2px rgb(7, 7, 85);
}
ul li a{
    padding-right: 10px;
    color: white;
}
